<div class="footer-content">
  <div class="footer-contact">
    <strong>Developed by</strong>&nbsp;<a href="https://www.linkedin.com/in/davidweinrot/" target="_blank" rel="noopener">David Weinrot</a>
  </div>
  <div class="footer-policy">
    <a href="pages/privacy.html">Privacy Policy</a>
  </div>
  <div class="footer-contact-link">
    <a href="pages/contact.html" target="_blank" rel="noopener">Contact Us</a>
  </div>
  <div class="footer-categories">
    <a href="categories/index.html">Whatnot categories</a>
  </div>
  <div class="footer-sitemap">
    <a href="pages/sitemap.html">Sitemap</a>
  </div>
  <div class="footer-disclaimer">
    <a href="pages/trademark-disclaimer.html">Trademark Disclaimer</a>
  </div>
  <div class="footer-copyright">
    &copy; 2025 Shop2not. All rights reserved.
  </div>
</div> 